.legend-container {
  position: absolute;
  bottom: 16px;
  right: 0px;
  z-index: 1000;
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  width: 160px;
}


.legend {
  margin-top: 10px;
  bottom: 24px;
  right: 8px;
  z-index: 1000;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  width: 160px;

}

.legend-title {
  margin-bottom: 5px;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  justify-content: flex-start;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 2px solid black;
  width: '20px';
  height: '20px';
}


.legend-label {
  font-size: 12px;
  flex-grow: 1;
}

.legend-selector {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.legend-button {
  background-color: lightgrey;
  border: none;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  width: 100%;
}

.legend-button:hover {
  background-color: #1976d2;
}

.legend-button:active {
  background-color: #1565c0;
}

.legend-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(33, 150, 243, 0.3);
}